@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .header {
        background-image: url(./img/bgi-mob.png);
        background-repeat: no-repeat;
        background-position: calc(100% + 95px) -82px;
    }

    .game {
        display: none;
    }

    .mini-game {
        &__title {
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 18px;
        }

        &__text {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 28px;
        }

        &__button {
            width: 100%;
        }
    }
}