@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: rgb(225, 255, 143);
  height: 800px;
  background-image: url(./img/Group\ 1597880565.png);
  background-repeat: no-repeat;
  background-position: 889px -303px;
}

.star_1 {
  position: absolute;
  left: 63px;
  top: 94px;
}

.star_2 {
  position: absolute;
  left: 156px;
  top: 69px;
}

.star_3 {
  position: absolute;
  left: 948px;
  top: 538px;
}

.star_4 {
  position: absolute;
  left: 1013px;
  top: 568px;
}

.group {
  position: absolute;
  right: -523px;
  top: -303px;
  bottom: -27.46px;
}

.top-box__heading-big {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  width: 769px;
  height: 156px;
}

.top-box {
  padding-top: 196px;
  position: relative;
}

.top-box__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 34px;
  width: 720px;
}

.top-btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  margin-top: 48px;
  transition: all 0.5s;
  background: rgb(32, 32, 39);
  font-family: Montserrat;
}

.top-btn:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.btn-link {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  margin-top: 48px;
  transition: all 0.5s;
  background: rgb(32, 32, 39);
  text-decoration: none;
}
.btn-link:hover {
  color: rgb(32, 32, 39);
  background: rgb(255, 255, 255);
}

/* Анимация бегущей строки с играми */
.game-strip-container {
  height: 50px;
  background: #BCEC30;
  padding: 27px 49px;
  overflow: hidden;
  position: relative;
}
.game-strip-container__strip {
  display: flex;
  gap: 51px;
  animation: scroll 15s infinite linear;
  position: absolute;
  left: 0;
  align-items: center;
}

.game-strip {
  display: flex;
  align-items: center;
  gap: 51px;
}

.game-item {
  color: #202027;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.game-item img {
  width: 24px;
  height: 24px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.star_1 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
}

.game {
  background-color: #202027;
  position: relative;
  background-image: url(./img/Star_game.png);
  background-repeat: no-repeat;
  background-position: 1021px 77px;
  height: 1470px;
}

.game-top {
  padding-top: 94px;
}

.game-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  gap: 32px;
}

.game-link {
  text-decoration: none;
  grid-column: span 4;
}

.game-card {
  grid-column: span 4;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 473px;
  transition: transform 0.7s;
}

.game-card:hover {
  transform: scale(1.1);
}

.medium {
  height: 512px;
}

.big {
  height: 551px;
  margin-top: -39px;
}

.game-card-info {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game-card-info__text {
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.game-top__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}

.game-card-info__heading {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

/* Стили для карточек игр */
.mini-game-box {
  height: 3500px;
  background: #202027;
  background-image: url(img/star-mini1.svg), url(img/star-mini2.svg);
  background-position: calc(100% - 80px) calc(100% - 3299px), calc(100% - 80px) calc(100% - 45px);
  background-repeat: no-repeat;
}
.mini-game-box__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 46px;
  padding-bottom: 72px;
}
.mini-game-box__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.mini-game {
  width: 1200px;
  border-radius: 30px;
  background: #FFF;
  display: flex;
}
.mini-game__info {
  padding: 48px;
  width: 504px;
}
.mini-game__title {
  color: #202027;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mini-game__text {
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-top: 24px;
  padding-bottom: 36px;
}
.mini-game__text_mobile {
  display: none;
}
.mini-game__button {
  border-radius: 60px;
  background: #202027;
  width: 247px;
  height: 66px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%; /* 34.005px */
  font-family: "Montserrat", sans-serif;
}
.mini-game__button:hover {
  background: #fff;
  color: #202027;
}
.mini-game__img {
  border-radius: 30px;
}
.mini-game_two {
  flex-direction: row-reverse;
}

.footer {
  height: 150px;
  background: #BDED35;
}
.footer__text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 61px;
  justify-content: center;
}

@media (max-width: 767px) {
  .top-box__heading-big {
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */