@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
   background-color: rgb(225, 255, 143);
    background-image: url(./img/Group\ 1597880565.png), url(./img/mob-star1.png), url(./img/mob-star3.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 486px) -323px;
}

.star_1 {
  position: absolute;
  left: 63px;
  top: 94px;
}

.star_2 {
  position: absolute;
  left: 156px;
  top: 69px;
}

.star_3 {
  position: absolute;
  left: 948px;
  top: 538px;
}

.star_4 {
  position: absolute;
  left: 1013px;
  top: 568px;
}

.group {
  position: absolute;
  right: -523px;
  top: -303px;
  bottom: -27.46px;
}

.top-box__heading-big {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  width: 769px;
}

.top-box {
  padding-top: 196px;
  position: relative;
}

.top-box__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 34px;
  width: 720px;
}

.top-btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  margin-top: 48px;
  transition: all 0.5s;
  background: rgb(32, 32, 39);
  font-family: Montserrat;
}

.top-btn:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.btn-link {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  margin-top: 48px;
  margin-bottom: 156px;
  transition: all 0.5s;
  background: rgb(32, 32, 39);
  text-decoration: none;
}
.btn-link-mobile {
  display: none;
}
.btn-link:hover {
  color: rgb(32, 32, 39);
  background: rgb(255, 255, 255);
}

/* Анимация бегущей строки с играми */
.game-strip-container {
  height: 90px;
  background: #BCEC30;
  padding: 27px 49px;
  overflow: hidden;
  position: relative;
}
.game-strip-container__strip {
  display: flex;
  gap: 51px;
  animation: scroll 15s infinite linear;
  position: absolute;
  left: 0;
  align-items: center;
}

.game-strip {
  display: flex;
  align-items: center;
  gap: 51px;
}

.game-item {
  color: #202027;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.game-item img {
  width: 24px;
  height: 24px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.star_1 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
}

.game {
  background-color: #202027;
  position: relative;
  background-image: url(./img/Star_game.png);
  background-repeat: no-repeat;
  background-position: 1021px 77px;
  height: 1470px;
}

.game-top {
  padding-top: 94px;
}

.game-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  gap: 32px;
}

.game-link {
  text-decoration: none;
  grid-column: span 4;
}

.game-card {
  grid-column: span 4;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 473px;
  transition: transform 0.7s;
}

.game-card:hover {
  transform: scale(1.1);
}

.medium {
  height: 512px;
}

.big {
  height: 551px;
  margin-top: -39px;
}

.game-card-info {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game-card-info__text {
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.game-top__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}

.game-card-info__heading {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

/* Стили для карточек игр */
.mini-game-box {
  padding-bottom: 144px;
  background: #202027;
  background-image: url(img/star-mini1.svg), url(img/star-mini2.svg);
  background-position: calc(100% - 80px) calc(100% - 3299px), calc(100% - 80px) calc(100% - 45px);
  background-repeat: no-repeat;
}
.mini-game-box__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 46px;
  padding-bottom: 72px;
}
.mini-game-box__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.mini-game {
  width: 100%;
  border-radius: 30px;
  background: #FFF;
  display: flex;
  overflow: hidden;
}
.mini-game__info {
  padding: 48px;
  flex: 0 0 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mini-game__title {
  color: #202027;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mini-game__text {
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-top: 24px;
  padding-bottom: 36px;
}
.mini-game__text_mobile {
  display: none;
}
.mini-game__button {
  border-radius: 60px;
  background: #202027;
  width: 247px;
  height: 66px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%; /* 34.005px */
  font-family: "Montserrat", sans-serif;
}
.mini-game__button:hover {
  background: #fff;
  color: #202027;
}
.mini-game__image {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mini-game__img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mini-game_two {
  flex-direction: row-reverse;
}

.footer {
  height: 150px;
  background: #BDED35;
}
.footer__text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 61px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .header {
    background-image: url(./img/bgi-mob.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 95px) -82px;
  }
  .game {
    display: none;
  }
  .mini-game__title {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 18px;
  }
  .mini-game__text {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 28px;
  }
  .mini-game__button {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* Базовые сбросы */
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background: #202027;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  /* Фиксируем ширину контента */
  .center {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0 auto;
  }
  .top-box {
    padding-top: 147px;
    padding-bottom: 131px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-box__heading-big {
    font-size: 40px;
    line-height: 49px;
    width: 262px;
  }
  .top-box__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 296px;
    margin-top: 24px;
    margin-bottom: 36px;
  }
  .btn-link {
    display: none;
  }
  .btn-link-mobile {
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    padding: 16px 28px;
    width: 285px;
    transition: all 0.5s;
    background: rgb(32, 32, 39);
    text-decoration: none;
  }
  /* Бегущая строка */
  .game-strip-container {
    height: 50px;
  }
  .game-strip {
    display: inline-block;
    white-space: nowrap;
    padding: 0 20px;
  }
  .game-strip .game-item {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    line-height: 110%;
    padding: 16px 27px;
  }
  .game-strip .game-item img {
    width: 20px;
    height: 20px;
  }
  .game {
    display: none;
  }
  /* Заголовок "Мини-игры" */
  .mini-game-box {
    background-image: none;
    padding-bottom: 49px;
  }
  .mini-game-box__title {
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 48px;
  }
  /* Секция с играми */
  .mini-game-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-bottom: 30px;
  }
  /* Карточка игры */
  .mini-game {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  .mini-game__info {
    padding: 29px;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .mini-game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .mini-game__text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 32px;
    flex-grow: 1;
  }
  .mini-game__button {
    width: 100%;
    max-width: 285px;
    height: 55px;
    background: #202027;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    line-height: 141.69%;
    margin: 0 auto;
    display: block;
  }
  .mini-game__img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Футер */
  .footer {
    height: 100px;
    background: #BDED35;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__text {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  /* Фиксы для конкретных игр */
  #game1 .mini-game__text:after {
    content: "6 11 48\a 2  8\a 4 92 10";
    white-space: pre;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    line-height: 2;
  }
  #game2 .mini-game__text:after {
    content: "100 ÷ 4 = ?\a 9 ÷ 1 = ?\a 16 - 6 = ?\a 3 ÷ 2 = ?\a 4 ÷ 2 = ?";
    white-space: pre;
    display: block;
    text-align: center;
    margin-top: 10px;
    line-height: 2;
  }
}/*# sourceMappingURL=style.css.map */